// General Styles
.blpge_editor_row__column {
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
}

div[data-type="blockypage-blocks/pricing"] {
  padding: 0px !important;
  margin: 0px !important;
  box-sizing: border-box;
  width: 100% !important;
}

div[data-type="blockypage-blocks/pricing"] > .editor-block-list__block-edit {
  height: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

div[data-type="blockypage-blocks/pricing"].is-selected .blpge_editor_appender {
  opacity: 1;
} 

div[data-type="blockypage-blocks/pricing"] > .editor-block-list__block-edit:before {
  right: -1px !important;
  bottom: -1px !important;
  top: -1px !important;
  left: -1px !important;
}

div[data-type="blockypage-blocks/pricing"]:hover .blpge_editor_appender {
  opacity: 1 !important;
  transition: 0.5s;

}

div[data-type="blockypage-blocks/pricing"].is-selected .blpge_editor_appender {
  opacity: 1 !important;
}

.is-selected div[data-type="blockypage-blocks/pricing"] > .editor-block-list__block-edit:before {
  border: 1px dashed #333;
}

div[data-type="blockypage-blocks/container"]:hover
  div[data-type="blockypage-blocks/pricing"]
  > .editor-block-list__block-edit:before {
  border: 1px dashed #333;
  transition: 0.5s;

}


div[data-type="blockypage-blocks/pricingrow"]:hover
  div[data-type="blockypage-blocks/pricing"]
  > .editor-block-list__block-edit:before {
  border: 1px dashed #333;
  transition: 0.5s;

}


div[data-type="blockypage-blocks/pricing"] > .editor-block-list__block-edit > .editor-block-mover,
div[data-type="blockypage-blocks/pricing"] > .editor-block-list__block-edit > .editor-block-contextual-toolbar {
  display: none;
}

.blpge_row > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block  > .editor-block-list__block-edit {
  margin-top: 0px;
  margin-bottom: 0px;
} 

// Column Custom Styles
div[data-type="blockypage-blocks/pricing"] div[class^="blpge_row__col--"] {
  width: 100% !important;
  height: 100% !important;
}

div[data-type="blockypage-blocks/pricing"] > .editor-block-list__block-edit > div:nth-child(1),
div[data-type="blockypage-blocks/pricing"] > .editor-block-list__block-edit > div:nth-child(2),
div[data-type="blockypage-blocks/pricing"] > .editor-block-list__block-edit > div:nth-child(3) {
  height: 100%;
}

// Mobile Device Mode
body.blpge_is-mobile-portrait
  div[class^="blpge_row__col--"]
  .block-editor-block-list__layout
  .block-editor-block-list__block,
body.blpge_is-mobile-landscape
  div[class^="blpge_row__col--"]
  .block-editor-block-list__layout
  .block-editor-block-list__block {
  padding-left: 14px !important;
  padding-right: 14px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.blpge_inspector_columns-vertical-align {
  svg {
    transform: rotate(90deg);
  }
}

body div[data-type="blockypage-blocks/pricing"] > .editor-block-list__block-edit .block-editor-block-toolbar {
  top: 0px !important;
  left: 0px !important;
}

/*******************************************************
*
* Appender Style
*
********************************************************/

/* 
 * Select all paragraph blocks inside the container, including the first one,

div[class^="blpge_row__col--"]
  > .blpge_row__col__wrapper
  > .editor-inner-blocks
  > .editor-block-list__layout
  > div[data-type="core/paragraph"] {
  display: none;
}
/* 
 * Select all but the first paragraph inside the container,
 * and display block them

div[class^="blpge_row__col--"]
  > .blpge_row__col__wrapper
  > .editor-inner-blocks
  > .editor-block-list__layout
  > div[data-type="core/paragraph"]
  ~ div[data-type="core/paragraph"] {
  display: block;
}
*/

// Hide the default block appender that some how displays on the columns only
div[class^="blpge_row__col--"] .editor-default-block-appender {
  display: none;
}

div[data-type="blockypage-blocks/pricing"] .blpge_editor_appender {
  opacity: 0;
}

div[data-type="blockypage-blocks/pricing"]:hover .blpge_editor_appender {
  opacity: 1;
  transition: 0.5s;

}

div[data-type="blockypage-blocks/pricing"].is-selected .blpge_editor_appender {
  opacity: 1;
}
.blpge_pricing__item__removeIcon {
  display: flex;
}
.blpge_pricing__item__removeIcon svg {
  width: 14px !important;
  color: red !important;
  margin-top:2px;
  margin-left: 5px;
  cursor: pointer;
}
.blpge_pricing__add_newItem svg {
  width: 14px;
  margin-right:3px;
}
.blpge_pricing__add_newItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  text-align: center;
  background: #eeeeee;
}

.blpge_pricing__footer__button .editor-inner-blocks {
  display: inline-block;
  .blpge_editor_extra-toolbar, .editor-block-toolbar {
    display: none !important;
  }

}

