.blpge_inspector_color-square {
    width: 20px;
    height: 15px;
    margin-bottom: -2px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid #abb8c3;
    display: none;
}