// ==========================================================================
// Panel
// ==========================================================================

.blpge_inspector_property-title {
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
    margin: 10px 0px 5px 0px;
    font-size: 13px;
}