.blpge_calltoaction {
    text-align: center;
    background:#f5f5f5;
    padding-bottom:15px;
    padding-top:15px;
}
.blpge_calltoaction__title {
    font-size: 28px;
}
.blpge_calltoaction__text {
    font-size: 18px;
}

