// ==========================================================================
// Config 
// ==========================================================================

// Colors 
$primary-color: #d9303e;
$secondary-color: #f26b76;
$lighter-gray: #f4f4f4;
$light-gray: #e1e1e1;
$gray: #949393;
$dark-gray: #858585;
$darker-gray: #575757;

// Row Columns Variables
$g-col-width: 65px;
$g-gutter-width: 0px;
$g-col-count: 12;


// BreakPoints 
$brp_xs : 575.98px;
$brp_sm : 767.98px;
$brp_md : 991.98px;
