.blpge_welcome_div_container {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    text-align:center;
}
.blpge_welcome_div {
    padding:20px;
    height:70px;
    border-radius: 12px 12px 0 0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-image: radial-gradient(circle at center,#f6aaaa 1%,#e8404b 100%);
}
.blpge_welcome_logo {
    background:#fff;
}

.blpge_welcome_logo img {
    margin-top:-80px;
    width: 140px;
}
.blpge_welcome_video {
    width: 50%;
       float: left;
       padding-top: 20px;
}

.blpge_welcome_video iframe {
    max-width: 100%;	
}

.blpge_welcome_description {
    padding:15px;
    text-align:left;
    width:45%;
    float:left;
    font-size: 16px !important;
}
.blpge_welcome_description  p {
    font-size: 16px !important ;
}
.blpge_welcome_description  li {
    font-size: 16px !important;
    list-style: square;
    margin-left: 15px;
}

.blpge_welcome_description p {
    font-size:16px;
}
.blpge_welcome_description a {
    text-decoration:none;
    color:#fff;
    text-align:center;
    background-color: rgb(95, 77, 136);
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: .65px;
    border-radius:5px;
}
.blpge_welcome_body {
    padding: 25px;
    overflow: hidden;
    background: #fff;
    border-top: 1px solid #eee;
}