// ==========================================================================
// Row
// ==========================================================================

.blpge_row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  z-index: 0;
  max-width: 100%;
  &--no-padding-col [class^="blpge_row__col"] {
    
    .components-button-group {
      margin-top: 10px;
    }
    padding: 0px !important;
  }
}

.blpge_row_inspector {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  z-index: 999;
  max-width: 100%;
}
