// ==========================================================================
// blpge mode  sidebar title
// ==========================================================================
.blpge_editor_blpge-mode-sidebar {
    width: 272px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(270deg,#e8404b 32%, #f26b76 81% );
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}