.blpge_shape-divider-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  line-height: 0;
}

.blpge_shape-divider-container--top {
  top: 0;
}

.blpge_shape-divider-container--bottom {
  bottom: 0;
}
