.quotIconList svg {
    border: 1px solid #dddddd;
    border-radius: 5px;
    width:17%;
    padding: 5px;
    cursor: pointer;
    color: #bbbbbb;
}

.blpge_row div[data-type="blockypage-blocks/testimonial"] .blpge_editor_extra-toolbar {
    display: none !important;
}