
div[data-type="blockypage-blocks/accordion"]:hover ul.blpge_accordion .blpge_accordion-item_content {
    display: none;
    border: 1px dashed #333;
    border-top: 0px;
}

.blpge_according__items__link__title i {
    margin-top: 5px;
}  
  




